.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.cont {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: grey;
    transition: 0.5s ease;
    background-image: url("https://i.namu.wiki/i/-jjOv2BfcLnHMuUbUpo4DZGD9n52fichmSvFeq57CuXvW8re5BIsFalhByhacu5N31DvFnjrs5zgzJw7TZT8tg.webp");
    background-size: contain;
  }
}

.box-for-slider {
  display: flex;
  align-items: center;
  justify-content: center;

  .degree {
    width: 90%;
  }
}
